:root {
    --primary-color: #167293; /* Azul más oscuro */
    --secondary-color: #02567b; /* Azul oscuro más claro para mejor contraste */
    --accent1-color: #b35800; /* Naranja más oscuro para mejorar contraste */
    --accent2-color: #3f0c5f; /* Púrpura más oscuro */
}

p {
    color: #023047; /* Azul oscuro */
}
/* Global styles */
body {
    font-family: 'Open Sans', sans-serif;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
}

/* Headings */
h1, h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    color: var(--accent1-color);
}

/* Header styles */
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
}

header img.logo {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
    margin-left: 2rem;
}

nav a:hover {
    color: var(--accent1-color);
}

/* White Water Rafting Section */
.white-water-rafting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #f0f4f8;
}

.white-water-rafting .text-content {
    width: 60%;
}

.white-water-rafting .side-image {
    width: 35%;
    border-radius: 8px;
}

/* History section */
.history-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center; 
    gap: 1rem; 
    padding: 2rem;
}

.history-grid img {
    width: 150px; 
    height: auto;
    justify-self: center; 
}
.history {
    padding: 2rem;
    background-color: #f9f9f9;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items: center;
}

.history-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Adventure Awaits You section */
.adventure {
    padding: 2rem;
    background-color: #ffffff;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.adventure figure {
    text-align: center;
}

.adventure img {
    width: 100%;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    position: relative;
}

footer .sociallinks {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 1rem;
}

footer .sociallinks img {
    width: 30px;
}