* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --background-color: steelblue;
    --border-color: steelblue;
    --padding: 10px;
}

body {
    font-size: 16px;
    font-family: Open-sans, Arial, sans-serif;
}

nav {
    background-color: var(--background-color);
    padding: var(--padding);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    }

h1 {
    color: steelblue;
    padding: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;   
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 300px;
    height: 270px;
}

 /* Class Selectors */
.box {
	margin:1rem ;
	border:1px solid rgba(0,0,0,.1);
	padding:1rem;
	background-color: rgb(163, 160, 211);
	color: rgb(5, 15, 24);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    max-width: 1000px; 
    margin: 1rem auto;
    gap: 2rem;
    align-items: start;
}

aside {
	width: 25em;
	text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 24px;
    left: 154px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

header, grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

